<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>this is class page</h1>
      <h2 style="color:green">成功<h2>
  </body>
</html>