<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ajax範例，請點example頁面</h1>
    <a href="/example" style="font-size:30px;">example頁面</a>
  </body>
</html>
