<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <h1>將views資料夾中的class.ejs與網址/class頁面連結</h1>
     <p>note：參考routes資料夾中的index.js中範例程式碼</p>
  </body>
</html>
