<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>修改<u style="color:orangered">example.ejs的表單</u>及routes資料夾中<u style="color:orangered">api.js範例程式的路徑</u>，將資料以GET的方式送到/api/class2</h1>
    <h1>按下送出後，網址呈現/api/class2?name=&age=，即為<span style="color:green">成功</span></h1>
    <a href="/example" style="font-size:30px;">example頁面</a>
  </body>
</html>
